{% extends 'reminders/base.html' %}

{% block title %}Tasks schedualed{% endblock %}

{% block content %}
    <h1>Tasks</h1>
        
        {% if tasks.objects.all %}
        Here are your tasks {{ user.username }}
        <ul>
             {% for task in task.objects.all %}

            <li>{{task.to_do}}>>{{task.details}}</li>

            {% endfor %}
        </ul>
        {% else %}
        <br></br>
        Opps, No tasks set 😑😑
        <br></br>
        <p>Set new tasks?

            <a href="/create/ ">create</a>
        </p>
           {% endif %}
        
{% endblock content %}
